body {
  height: 15vh;

}

.adon{
  display: flex;
  flex-flow: row;
  min-height: 1vh;
  margin-left: 37%;
  margin-top: 11%;
  
}
.output{
  margin-left: 49%;
  height: 15vh;
  margin-top: 11%;
  font-size:14pt;
}

.stul{
  font-size:15pt;
  margin-left: 40%;
}

.color {
  width: 50px;
  height: 50px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
